%article.card.meeting[meeting]
  .card-image
    %img{:alt => "", :src => "https://raw.github.com/Magnus-G/Random/master/mountains.png"}
  .card-header
    = link_to meeting.title, meeting
  .card-copy
    = simple_format truncate(meeting.description, length: 150)
    %p= l meeting.starts_at.to_date, format: :long
  .card-stats
    %ul
      %li
        = link_to meeting.attendees.count, meeting_path(meeting, anchor: :attendees)
        %span Attendees
      %li
        = link_to meeting.comments.count, meeting_path(meeting, anchor: :comments)
        %span Comments
