%article.type-system-sans
  %p.type Meeting

  %h1= link_to @meeting.title, @meeting

  %p.date= l @meeting.starts_at, format: :long

  %h2= simple_format @meeting.description

  %p.author
    = link_to @meeting.author.name, @meeting.author.url
    %br
    %span Twitter:
    = @meeting.author.twitter

  %h3 Bio
  = simple_format @meeting.author.bio

  %h3 Video
  %p= @meeting.video_url

  %h3 Venue
  %p= @meeting.venue

  %hr

  #attendees
    %h3 Attendees
    - if policy(@meeting).attend?
      = button_to 'Attend', meeting_attendees_path(@meeting), method: :post, class: :button, id: 'attend'
    - elsif policy(@meeting).unattend?
      = button_to 'Unattend', meeting_attendees_path(@meeting), method: :delete, class: :button, id: 'unattend'

    %ul
      = render partial: 'meetings/attendee', collection: @meeting.attendees

  %hr

  #comments
    %h3 Comments
    = render partial: 'comments/comment', collection: @meeting.comments, locals: { meeting: @meeting }

    - if policy(@comment).create?
      = render 'meetings/comments/form', meeting: @meeting, comment: @comment
