%h1= link_to @meeting.title, @meeting
= render @meeting.comments

= form_for Comment.new, url: meeting_comments_path(@meeting) do |f|
  = f.label :body, 'Comment'
  %br
  = f.text_area :body
  %br
  = f.submit 'Create'
