%article.type-system-sans
  %p.type User

  %h1
    = gravatar_tag user
    = link_to user.name, user

  - if policy(user).edit?
    %p
      = link_to 'Edit profile', edit_user_path(user)
      |
      = link_to 'Edit password', edit_users_password_path

  = simple_format user.about

  %p
    = link_to_twitter user.twitter
    %br
    = link_to user.url, user.url
