- if meeting.errors.any?
  - meeting.errors.full_messages.each do |msg|
    = msg

%fieldset
  = form_for comment, url: meeting_comments_path(meeting) do |f|
    %p
      = f.label :body, 'New comment'
      = f.text_area :body
    %p
      = f.submit 'Create'
