<!DOCTYPE html>
<html>
<head>
  <title>Madridrb</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render 'application/header' %>

  <% flash.each do |key, msg| %>
    <%= content_tag :div, msg, class: key %>
  <% end %>

  <%= yield %>

</body>
</html>
